{{ $header := .Site.Data.customization.header }}
<!-- Hero head: will stick at the top -->
 <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ .Site.BaseURL }}">
            {{ if $header.branding.logo }}
              <img src="{{ $header.branding.logo | absURL }}" alt="{{ .Site.Data.profile.business_name }}">
            {{ else }}
            <h1 class="title is-4">{{ $header.branding.site_title }}</h1>
            {{ end }}
          </a>
          {{/*  HAMBURGER ICON  */}}
          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          {{/*  END HAMBURGER ICON  */}}
        </div>

        <div class="navbar-menu navbar-end" id="navMenu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <div class="navbar-item has-dropdown is-hoverable main-drop">
                    <a class="navbar-link" href="javascript:;">
                        {{ .Name }}
                    </a>
                    <!-- First Level Dropdown -->
                    <div class="navbar-dropdown">
                        {{ range .Children }}
                            <a class="navbar-item {{ if .HasChildren }}navbar-link first-drop is-hoverable{{ end }}" href="{{ if .HasChildren }}javascript:;{{ else }}{{ .URL }}{{ end }}">
                            {{ .Name }}
                            </a>
                        {{ end }}
                    </div>
                    <!-- End first level Dropdown -->
                </div>
                {{ else }} <!-- Else No Drop Down-->
                <a href="{{ .URL |absURL }}" class="navbar-item">{{ .Name }}</a>
            {{ end }}
            {{ end }} <!-- End range menu -->
        </div>
      </div>
    </nav>
  </div>