<div class="column">
    <div class="category__list">
      <h2 class="subtitle is-6"><strong>Blog Categories</strong></h2>
        <ul>
          {{ range $categories, $taxonomy := .Site.Taxonomies.categories }}
          <li>
            <a href="/categories{{ $categories | urlize | relURL }}" class="category__item" class="link-color">{{ $categories | humanize }}</a>
          </li>
          {{end}}

        </ul>
    </div>
    <div class="category__list pt-6">
      <h2 class="subtitle is-6"><strong>Blog Tags</strong></h2>
        <ul>
          {{ range $tags, $taxonomy := .Site.Taxonomies.tags }}
          <li>
            <a href="/tags{{ $tags | urlize | relURL }}" class="category__item" class="link-color">{{ $tags | humanize }}</a>
          </li>
          {{end}}

        </ul>
    </div>
</div>