{{ partial "global/head" . }}
{{ partial "home/slideshow" . }}
{{ range $.Site.Data.customization.home_page.home_sections }}
{{/*  START BLOCKS  */}}
  {{ if eq "featured" .template }}
    {{ partial "blocks/featured" . }}
  {{ end }}
  {{ if eq "text-over-image" .template }}
    {{ partial "blocks/text-over-image" . }}
  {{ end }}
  {{ if eq "text-next-to-image" .template }}
  {{ partial "blocks/text-next-to-image" . }}
{{ end }}
{{ end }}
{{/*  END BLOCKS  */}}

{{ partial "global/footer" . }}

