{{ $slideshow := .Site.Data.customization.home_page.slideshow.slideshow }}
{{ partial "global/navbar" . }}
<div class="home-slide">
  {{ range $slideshow }}
  <section class="hero is-fullheight" style="background:url({{ .image }}) no-repeat center;background-size:cover;display:flex">
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body slide-content">
      <div class="container is-fluid has-text-centered">
        <div class="columns">
          <div class="column is-half has-text-white is-offset-one-quarter">
            <h1 class="title is-2 has-text-white hero-title is-uppercase is-size-3-mobile">{{ .heading }}</h1>
            {{ if .body }}<p>{{ .body }}</p>{{ end }}
            <br>
            <br>
            {{- if .slideshow_button.button_text -}}<a href="{{ .slideshow_button.button_link }}" class="hero-button has-text-white pt-3 pb-3 pl-6 pr-6" 
            {{- if .slideshow_button.button_background_color -}}
              style="{{- safeHTMLAttr (printf "background-color: %s" .slideshow_button.button_background_color) -}}
              ;{{- safeHTMLAttr (printf "color: %s" .slideshow_button.button_text_color) -}}"
            {{- end -}}>{{ .slideshow_button.button_text }}</a>
            {{- end -}}
          </div>
        </div>
      </div>
    </div>

  </section>
  {{ end }}
</div>